<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggerConfigurationSection" type="Qoollo.Logger.Configuration.LoggerConfigurationSectionConfigClass, Qoollo.Logger" allowExeDefinition="MachineToApplication" requirePermission="false" />
  </configSections>

  <LoggerConfigurationSection xmlns="Qoollo.Logger.Configuration.LoggerConfigurationSection_NS">
    <logger logLevel="DEBUG">
      <asyncReliableQueueWrapper>
        <groupWrapper>
          <fileWriter fileNameTemplate="logs/{Level}-{DateTime, format = yyyy-MM-dd hh-mm-ss}.log" />
          <fileWriter fileNameTemplate="logs/Error_{DateTime, format = yyyy-MM-dd}.log" logLevel="ERROR"/>
          <networkWriter serverAddress="127.0.0.1" port="7777" />
          <consoleWriter logLevel="DEBUG" />
          <patternMatchingWrapper pattern="{Level}">
            <match value="WARN">
              <fileWriter fileNameTemplate="logs/WarnOnly_{DateTime, format = yyyy-MM-dd}.log"/>
            </match>
            <default>
              <fileWriter fileNameTemplate="logs/PatternDefault_{DateTime, format = yyyy-MM-dd}.log"/>
            </default>
          </patternMatchingWrapper>
        </groupWrapper>
      </asyncReliableQueueWrapper>
    </logger>
  </LoggerConfigurationSection>
  
</configuration>