<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="LoggerServerConfig">
      <section name="SupportLoggerConfigurationSection" type="Qoollo.Logger.Configuration.LoggerConfigurationSectionConfigClass, Qoollo.Logger" allowExeDefinition="MachineToApplication" requirePermission="false" />
      <section name="MainLoggerConfigurationSection" type="Qoollo.Logger.Configuration.LoggerConfigurationSectionConfigClass, Qoollo.Logger" allowExeDefinition="MachineToApplication" requirePermission="false" />
      <section name="LoggerServerConfigurationSection" type="LoggerServer.Main.Configuration.LoggerServerConfigurationConfigClass, LoggerServer.Main" allowExeDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <LoggerServerConfig>

    <SupportLoggerConfigurationSection xmlns="Qoollo.Logger.Configuration.LoggerConfigurationSection_NS">
      <logger logLevel="DEBUG">
        <asyncQueueWrapper maxQueueSize="2000">
          <groupWrapper>
            <consoleWriter logLevel="INFO" template="{DateTime}. {Level}. \n At {StackSource}.{Class}::{Method}.\n Message: {Message}. {Exception, prefix = '\n Exception: ', valueOnNull=''}\n\n" />
            <fileWriter logLevel="DEBUG" fileNameTemplate="supportLogs/{DateTime, format = yyyy-MM-dd}.log" template="{DateTime}. {Level}. \n At {StackSource}.{Class}::{Method}.\n Message: {Message}. {Exception, prefix = '\n Exception: ', valueOnNull=''}\n\n" />
            <fileWriter logLevel="ERROR" fileNameTemplate="supportLogs/Errors_{DateTime, format = yyyy-MM-dd}.log" template="{DateTime}. {Level}. \n At {StackSource}.{Class}::{Method}.\n Message: {Message}. {Exception, prefix = '\n Exception: ', valueOnNull=''}\n\n" />
          </groupWrapper>
        </asyncQueueWrapper>
      </logger>
    </SupportLoggerConfigurationSection>

    <MainLoggerConfigurationSection xmlns="Qoollo.Logger.Configuration.LoggerConfigurationSection_NS">
      <logger logLevel="TRACE">
        <asyncQueueWrapper maxQueueSize="2000">
          <groupWrapper>
            <fileWriter logLevel="TRACE" fileNameTemplate="mainLogs/{DateTime, format = yyyy-MM-dd}.log" template="{DateTime}. {Level}. \n At {StackSource}.{Class}::{Method}.\n Message: {Message}. {Exception, prefix = '\n Exception: ', valueOnNull=''}\n\n" />
            <fileWriter logLevel="ERROR" fileNameTemplate="mainLogs/Errors_{DateTime, format = yyyy-MM-dd}.log" template="{DateTime}. {Level}. \n At {StackSource}.{Class}::{Method}.\n Message: {Message}. {Exception, prefix = '\n Exception: ', valueOnNull=''}\n\n" />
          </groupWrapper>
        </asyncQueueWrapper>
      </logger>
    </MainLoggerConfigurationSection>


    <LoggerServerConfigurationSection xmlns="LoggerServer.Main.Configuration.LoggerServerConfigurationSection_NS">
      <tcpServerConfig isEnabled="true" port="26113" />
      <pipeServerConfig isEnabled="true" pipeName="LoggingService" />
    </LoggerServerConfigurationSection>

  </LoggerServerConfig>
  
</configuration>