<configuration>
  <configSection>
    <section name="LoggerConfigurationSectionSection" type="Qoollo.Logger.Configuration.LoggerConfigurationSectionConfigClass, Qoollo.Logger" allowExeDefinition="MachineToApplication" requirePermission="false" />
  </configSection>
  <LoggerConfigurationSectionSection>
    <logger enableStackTraceExtraction="Boolean" logLevel="CfgLogLevel" isEnabled="Boolean">
      <groupWrapper>
        <groupWrapper />
        <reliableWrapper folderForTemporaryStore="String" maxFileSize="Int64">
          <groupWrapper />
        </reliableWrapper>
        <pipeWriter serverName="String" pipeName="String" logLevel="CfgLogLevel" />
        <asyncReliableQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean" folderForTemporaryStore="String" maxFileSize="Int64">
          <groupWrapper />
        </asyncReliableQueueWrapper>
        <patternMatchingWrapper pattern="String">
          <default>
            <groupWrapper />
          </default>
          <match value="String">
            <groupWrapper />
          </match>
        </patternMatchingWrapper>
        <emptyWriter logLevel="CfgLogLevel" />
        <consoleWriter template="String" logLevel="CfgLogLevel" />
        <fileWriter template="String" fileNameTemplate="String" needFileRotation="Boolean" encoding="String" logLevel="CfgLogLevel" />
        <routingWrapper>
          <routingBySystem>
            <groupWrapper key="String" />
            <reliableWrapper key="String" folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </reliableWrapper>
            <pipeWriter key="String" serverName="String" pipeName="String" logLevel="CfgLogLevel" />
            <asyncReliableQueueWrapper key="String" maxQueueSize="Int32" isDiscardExcess="Boolean" folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </asyncReliableQueueWrapper>
            <patternMatchingWrapper key="String" pattern="String">
              <default>
                <groupWrapper />
              </default>
              <match value="String">
                <groupWrapper />
              </match>
            </patternMatchingWrapper>
            <emptyWriter key="String" logLevel="CfgLogLevel" />
            <consoleWriter key="String" template="String" logLevel="CfgLogLevel" />
            <fileWriter key="String" template="String" fileNameTemplate="String" needFileRotation="Boolean" encoding="String" logLevel="CfgLogLevel" />
            <routingWrapper key="String">
              <routingBySystem />
              <fromAll />
              <fromOthers />
            </routingWrapper>
            <networkWriter key="String" serverAddress="String" port="Int32" logLevel="CfgLogLevel" />
            <databaseWriter key="String" connectionString="String" storedProcedureName="String" logLevel="CfgLogLevel" />
            <asyncQueueWrapper key="String" maxQueueSize="Int32" isDiscardExcess="Boolean">
              <groupWrapper />
            </asyncQueueWrapper>
            <customWriter key="String" type="String" logLevel="CfgLogLevel" />
          </routingBySystem>
          <fromAll>
            <groupWrapper />
            <reliableWrapper folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </reliableWrapper>
            <pipeWriter serverName="String" pipeName="String" logLevel="CfgLogLevel" />
            <asyncReliableQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean" folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </asyncReliableQueueWrapper>
            <patternMatchingWrapper pattern="String">
              <default>
                <groupWrapper />
              </default>
              <match value="String">
                <groupWrapper />
              </match>
            </patternMatchingWrapper>
            <emptyWriter logLevel="CfgLogLevel" />
            <consoleWriter template="String" logLevel="CfgLogLevel" />
            <fileWriter template="String" fileNameTemplate="String" needFileRotation="Boolean" encoding="String" logLevel="CfgLogLevel" />
            <routingWrapper>
              <routingBySystem />
              <fromAll />
              <fromOthers />
            </routingWrapper>
            <networkWriter serverAddress="String" port="Int32" logLevel="CfgLogLevel" />
            <databaseWriter connectionString="String" storedProcedureName="String" logLevel="CfgLogLevel" />
            <asyncQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean">
              <groupWrapper />
            </asyncQueueWrapper>
            <customWriter type="String" logLevel="CfgLogLevel" />
          </fromAll>
          <fromOthers>
            <groupWrapper />
            <reliableWrapper folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </reliableWrapper>
            <pipeWriter serverName="String" pipeName="String" logLevel="CfgLogLevel" />
            <asyncReliableQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean" folderForTemporaryStore="String" maxFileSize="Int64">
              <groupWrapper />
            </asyncReliableQueueWrapper>
            <patternMatchingWrapper pattern="String">
              <default>
                <groupWrapper />
              </default>
              <match value="String">
                <groupWrapper />
              </match>
            </patternMatchingWrapper>
            <emptyWriter logLevel="CfgLogLevel" />
            <consoleWriter template="String" logLevel="CfgLogLevel" />
            <fileWriter template="String" fileNameTemplate="String" needFileRotation="Boolean" encoding="String" logLevel="CfgLogLevel" />
            <routingWrapper>
              <routingBySystem />
              <fromAll />
              <fromOthers />
            </routingWrapper>
            <networkWriter serverAddress="String" port="Int32" logLevel="CfgLogLevel" />
            <databaseWriter connectionString="String" storedProcedureName="String" logLevel="CfgLogLevel" />
            <asyncQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean">
              <groupWrapper />
            </asyncQueueWrapper>
            <customWriter type="String" logLevel="CfgLogLevel" />
          </fromOthers>
        </routingWrapper>
        <networkWriter serverAddress="String" port="Int32" logLevel="CfgLogLevel" />
        <databaseWriter connectionString="String" storedProcedureName="String" logLevel="CfgLogLevel" />
        <asyncQueueWrapper maxQueueSize="Int32" isDiscardExcess="Boolean">
          <groupWrapper />
        </asyncQueueWrapper>
        <customWriter type="String" logLevel="CfgLogLevel" />
      </groupWrapper>
    </logger>
  </LoggerConfigurationSectionSection>
</configuration>
